<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/aop
           http://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="helloService" class="com.example.AOP_XML.service.Hello"/>
    <bean id="bankService" class="com.example.AOP_XML.service.BankService">
        <constructor-arg ref="helloService"/>
    </bean>
    <bean id="loggingAspect" class="com.example.AOP_XML.aspect.LoggingAspect"/>

    <aop:config>
        <aop:aspect ref="loggingAspect">
            <aop:pointcut id="allMethods" expression="execution(* com.example.AOP_XML.service.*.*(..))"/>
            <aop:before method="beforeAdvice" pointcut-ref="allMethods"/>
            <aop:around method="aroundAdvice" pointcut-ref="allMethods"/>
        </aop:aspect>
    </aop:config>
</beans>
